body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div {
  background-color: #161b22;
  padding: 5em;
  border-radius: 5%;
}